<div id='review-<%= review[:id]%>'>
    <div class="reviewer-avatar-container">
    <span class="reviewer-avatar"><%= review[:username][0] %></span>
    <span><%= review[:username] %></span>
    </div>
    <%# Edit Button only to be displayed for the author of the review %>
    <% if review[:hasReadWriteAccess] %>
        <button type="button" class="btn btn-light edit-review-button" data-user="<%= review[:username]%>">
            <i class="bi bi-pencil-fill"></i> Edit
        </button>
        <%= link_to raw('<i class="bi bi-trash"></i> Delete'), delete_cart_review_path(review), class: 'btn btn-danger delete-review-button', method: :delete, remote: true %>
    <% end %>
    <div>Rating: <%= review[:rating] %>/5</div>
    <p><%= review[:review] %></p>
    <%# Content to dynamically render when updating a review %>
    <div class="review-edit-container hidden" data-user="<%= review[:username]%>">
    <%= form_tag edit_cart_review_path(review), :class => 'form', :remote => true, :method => 'put', :format => :js do %>
        <%= label :edit_cart_review, :review, 'Write Review', :class => 'col-form-label' %>
        <%= text_area :edit_cart_review, :review, :class => 'form-control', :value => review[:review] %>
        <%= label :edit_cart_review, :rating, 'Rating', :class => 'col-form-label'  %>
        <%= select :edit_cart_review, :rating, [1,2,3,4,5], {:selected => review[:rating]}, {:class => 'form-control col-1'} %>
        <br/>
        <%= submit_tag 'Update Review', :class => 'btn btn-primary' %>
    <% end %>
    </div>
</div>