<h2><%= @currentCart[:name]%></h2>
<%= image_tag @currentCart[:image] if !@currentCart[:image].nil?  %>
<br>
Location: <%= @currentCart[:location]%>
<br>
Opens: <%= @currentCart[:openHours]%>
<br>
Closes: <%= @currentCart[:closeHours]%>
<br>
Payment options:
<ul>
<% @currentCart[:paymentOptions].each do |option| %>
  <li><%= option %></li>
<% end %>
</ul>
Owner: <%= @currentCart[:owner] %>
<br>
Top rated food: <%= @currentCart[:topRatedFood] %>
<br>
<Section class="review-section">
  <h4 class="review-heading">Reviews</h4>
  <%= render "initial_cart_review", currentCart: @currentCart, reviewEnabled: @reviewEnabled, hasUserWrittenReview: @hasUserWrittenReview %>
  <div class="list-of-reviews">
    <% @currentReviews.each do |review| %>
      <%= render "cart_review", review: review %>
    <% end %>
  </div>
</Section>
<div>
  <%= link_to 'Edit Cart Details', edit_cart_path, :class => 'btn btn-primary' %>
</div>
