<% content_for :cart do %>
  <link rel="stylesheet" href="../../assets/stylesheets/cart.css">
<% end %>
<h2><%= @currentCart[:name]%></h2>
<br>
Location: <%= @currentCart[:location]%>
<br>
Opens: <%= @currentCart[:openHours]%>
<br>
Closes: <%= @currentCart[:closeHours]%>
<br>
Payment options:
<ul>
<% @currentCart[:paymentOptions].each do |option| %>
  <li><%= option %></li>
<% end %>
</ul>
Owner: <%= @currentCart[:owner] %>
<br>
Top rated food: <%= @currentCart[:topRatedFood] %>
<br>
<h4 class="review-heading">Reviews</h4>
<div class="list-of-reviews">
  <% @currentReviews.each do |review| %>
    <div>
      <div class="reviewer-avatar-container">
        <span class="reviewer-avatar"><%= review[:username][0] %></span>
        <span><%= review[:username] %></span>
      </div>
      <%# Edit Button only to be displayed for the author of the review %>
      <% if review[:email_id] == session[:username] %>
        <button type="button" class="btn btn-light edit-review-button" data-user="<%= review[:username]%>">
          <i class="bi bi-pencil-fill"></i> Edit
        </button>
      <% end %>
      <div>Rating: <%= review[:rating] %>/5</div>
      <p><%= review[:review] %></p>
    </div>
    <%# Content to dynamically render when updating a review %>
    <div class="review-edit-container hidden" data-user="<%= review[:username]%>">
      <%= form_tag edit_cart_review_path(review), :class => 'form', :remote => true, :method => 'put' do %>
        <%= label :cart_review, :review, 'Write Review', :class => 'col-form-label' %>
        <%= text_area :cart_review, :review, :class => 'form-control', :value => review[:review] %>
        <%= label :cart_review, :rating, 'Rating', :class => 'col-form-label'  %>
        <%= select :cart_review, :rating, [1,2,3,4,5], {:selected => review[:rating]}, {:class => 'form-control col-1'} %>
        <br/>
        <%= submit_tag 'Update Review', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>
<% if @reviewEnabled and !@hasUserWrittenReview %>
  <div class="review-container">
    <%= form_tag add_cart_review_path(@currentCart), :class => 'form' do %>
      <%= label :cart_review, :review, 'Write Review', :class => 'col-form-label' %>
      <%= text_area :cart_review, :review, :class => 'form-control' %>
      <%= label :cart_review, :rating, 'Rating', :class => 'col-form-label'  %>
      <%= select :cart_review, :rating, [1,2,3,4,5], {}, {:class => 'form-control col-1'} %>
      <br/>
      <%= submit_tag 'Save Review', :class => 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
<div>
  <%= link_to 'Edit Cart Details', edit_cart_path, :class => 'btn btn-primary' %>
</div>
