<h2><%= @currentCart[:name]%></h2>
<% if !@currentCart[:image].nil? %>
  <%= image_tag @currentCart[:image]%>
  <br>
<% end %>

<b>Location:</b> <%= @currentCart[:location]%>
<br>

<% if @currentCart[:openHours] != "NA" %>
  <b>Opens:</b> <%= @currentCart[:openHours] %>
  <br>
<% end %>

<% if @currentCart[:closeHours] != "NA" %>
  <b>Closes:</b> <%= @currentCart[:closeHours] %>
  <br>
<% end %>

<% if @currentCart[:openOnDays] != "NA" %>
  <b>Open on Days:</b> <%= @currentCart[:openOnDays] %>
  <br>
<% end %>

<% if @currentCart[:paymentOptions] != "NA" %>
  <b>Payment options:</b>
  <ul class="payment-options">
  <% @currentCart[:paymentOptions].each do |option| %>
    <li>
      <% if option.downcase == 'card' %>
        <i class="bi bi-credit-card"></i>
      <% elsif option.downcase == 'cash' %>
        <i class="bi bi-cash"></i>
      <% else %>
        <%= image_tag "venmo.svg", class: "venmo", alt: "Venmo payment" %>
      <% end %>
      <%= option %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @currentCart[:owner] != 'NA' %>
  <b>Owner:</b> <%= @currentCart[:owner] %>
    <br>
<% end %>

<% if !@currentCart[:topRatedFood].empty? %>
  <b>Top rated food:</b> <%= @currentCart[:topRatedFood] %>
    <br>
<% end %>

<div>
  <%= link_to 'Edit Cart Details', edit_cart_path, :class => 'btn btn-primary mt-3' %>
</div>
<Section class="review-section">
  <h4 class="review-heading">Reviews</h4>
  <%= render "initial_cart_review", currentCart: @currentCart, reviewEnabled: @reviewEnabled, hasUserWrittenReview: @hasUserWrittenReview %>
  <div class="list-of-reviews">
    <% @currentReviews.each do |review| %>
      <%= render "cart_review", review: review %>
    <% end %>
  </div>
</Section>
