<h2><%= @currentCart[:name]%></h2>
<%= image_tag @currentCart[:image] if !@currentCart[:image].nil?  %>
<br>
<b>Location:</b> <%= @currentCart[:location]%>
<br>
<b>Opens:</b> <%= @currentCart[:openHours]%>
<br>
<b>Closes:</b> <%= @currentCart[:closeHours]%>
<br>
<b>Open on Days:</b> <%= @currentCart[:openOnDays]%>
<br>
<b>Payment options:</b>
<ul class="payment-options">
<% @currentCart[:paymentOptions].each do |option| %>
  <li>
    <% if option.downcase == 'card' %>
      <i class="bi bi-credit-card"></i>
    <% elsif option.downcase == 'cash' %>
      <i class="bi bi-cash"></i>
    <% else %>
      <%= image_tag "venmo.svg", class: "venmo", alt: "Venmo payment" %>
    <% end %>
    <%= option %>
  </li>
<% end %>
</ul>
<b>Owner:</b> <%= @currentCart[:owner] %>
<br>
<b>Top rated food:</b> <%= @currentCart[:topRatedFood] %>
<br>
<div>
  <%= link_to 'Edit Cart Details', edit_cart_path, :class => 'btn btn-primary mt-3' %>
</div>
<Section class="review-section">
  <h4 class="review-heading">Reviews</h4>
  <%= render "initial_cart_review", currentCart: @currentCart, reviewEnabled: @reviewEnabled, hasUserWrittenReview: @hasUserWrittenReview %>
  <div class="list-of-reviews">
    <% @currentReviews.each do |review| %>
      <%= render "cart_review", review: review %>
    <% end %>
  </div>
</Section>
