<h2>Edit Cart Details</h2>

<%= form_tag submit_update_path, :class => 'form' ,multipart: true do %>
  <%= label :cart, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :cart,:name, :value => @cart[:name], :class => 'form-control',required: true %>
  <%= label :cart, :location, 'Location', :class => 'col-form-label' %>
  <%= text_field :cart, :location, :class => 'form-control',required: true %>
  <%= label :cart, :coordinates, 'Location Coordinates', :class => 'col-form-label' %>
  <%= text_field :cart, :coordinates, :class => 'form-control', required: true %>
  <%= label :cart, :opening_time, 'Opens at: ', :class => 'col-form-label' %>
  <%= time_field :cart, :opening_time, :class => 'form-control' %>
  <%= label :cart, :closing_time, 'Closes at: ', :class => 'col-form-label' %>
  <%= time_field :cart, :closing_time, :class => 'form-control' %>
  <%= label :cart, :top_rated_food, 'Signature Dish', :class => 'col-form-label' %>
  <%= text_field :cart, :top_rated_food, :class => 'form-control' %>
  <%= label :cart, :payment_options, 'Payment Options:', :class => 'col-form-label'  %>
  <% @all_payment_options.each do |option| %>
  <div class="form-check  form-check-inline">
    <%= label_tag "cart[payment_options[#{option}]]", option, class: 'form-check-label' %>
    <%= check_box_tag "cart[payment_options[#{option}]]", "1", @accepted_payment_options.include?(option), class: 'form-check-input' %>
  </div>
  <% end %>
  <br/>
  <%= label :cart, :open_days, 'Opens on:', :class => 'col-form-label'  %>
  <% @all_weekdays.each do |day| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "cart[open_days[#{day}]]", day, class: 'form-check-label' %>
      <%= check_box_tag "cart[open_days[#{day}]]", "1", @open_on_days.include?(day), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= label :cart, :image, 'Cart picture', :class => 'col-form-label' %>
  <%= file_field :cart, :image, :class => 'form-control', accept: 'image/jpeg,image/jpg, image/png' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, :class => 'btn btn-secondary' %>
<% end %>
