<h2>Add new cart</h2>

<%= form_tag create_cart_path, :class => 'form' do %>
  <%= label :cart, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :cart, :name, :class => 'form-control', required: true %>
  <%= label :cart, :location, 'Address', :class => 'col-form-label' %>
  <%= text_field :cart, :location, :class => 'form-control', required: true %>
  <%= label :cart, :coordinates, 'Location Coordinates', :class => 'col-form-label' %>
  <%= text_field :cart, :coordinates, :class => 'form-control', required: true %>
  <%= label :cart, :opening_time, 'Opens at: ', :class => 'col-form-label' %>
  <%= time_field :cart, :opening_time, :class => 'form-control' %>
  <%= label :cart, :closing_time, 'Closes at: ', :class => 'col-form-label' %>
  <%= time_field :cart, :closing_time, :class => 'form-control' %>
  <%= label :cart, :payment_options, 'Payment Options:', :class => 'col-form-label'  %>
  <% @all_payment_options.each do |option| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "cart[payment_options[#{option}]]", option, class: 'form-check-label' %>
      <%= check_box_tag "cart[payment_options[#{option}]]", "1", false, class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  <%= label :cart, :open_days, 'Opens on:', :class => 'col-form-label'  %>
  <% @all_weekdays.each do |day| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "cart[open_days[#{day}]]", day, class: 'form-check-label' %>
      <%= check_box_tag "cart[open_days[#{day}]]", "1", true, class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  <%= submit_tag 'Add Cart', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, :class => 'btn btn-secondary' %>
<% end %>
