<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Food Trucker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="903240660780-58psgdaf22hk5bi514avgqi6g6bj8hrb.apps.googleusercontent.com">
  </head>
  <body>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        document.getElementById("username").innerHTML = "Signed in as: "+profile.getEmail();
        document.getElementById("username-container").style.border = "1px solid white";
        // Remove hidden verified check if it exists
        var verifiedUserIcon = document.getElementById("verified-user-icon");
        if (verifiedUserIcon) {
          verifiedUserIcon.classList.remove('hidden');
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/setusername');
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                // Request finished. Do processing here.
            }
        }
        xhr.send(JSON.stringify({"username":profile.getEmail(),"name":profile.getName()}));
      }
    </script>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          document.getElementById("username").innerHTML ="Not signed in"
          // Add hidden verified check if it exists
          var verifiedUserIcon = document.getElementById("verified-user-icon");
          if (verifiedUserIcon) {
            verifiedUserIcon.classList.add('hidden');
          }


          var xhr = new XMLHttpRequest();
          xhr.open("POST", '/setusername');
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
          xhr.onreadystatechange = function() {
              if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                  // Request finished. Do processing here.
              }
          }
          xhr.send(JSON.stringify({"username":"Nil","name":"Nil"}));
        });
      }
    </script>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1>
        <%= link_to 'Food Trucker', root_path, :class => 'text-white app-title' %>
      </h1>
      <ul class="auth-section align-items-center nav navbar-nav ml-auto">
        <li class="nav-item">
          <div id="username-container" class="d-flex align-items-center">
            <div id="username"></div>
            <% if @is_current_user_verified %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ACCCE6" id="verified-user-icon" class="bi bi-check-circle-fill hidden" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <div class="btn-group" role="group" aria-label="Auth buttons">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <button type="button" class="btn btn-secondary" onclick="signOut();">Sign out</button>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <% if content_for?(:cart) %>
          <%= yield(:cart) %>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
